@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    width: 100%;
    margin-bottom: 3rem;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color:#EEEEEE;
    overflow-x:hidden;
}

p{
    padding: 0;
    margin: 0;
}

#container{
    width: 60%;
    margin: 0 auto;
    background-color:white;
    margin-top:1rem;
    box-shadow: 0 0 20px darkgray;
}

.top-container{
    width:100%;
    height: auto;
    display:flex;
    padding-bottom: 2rem;
}

.header-container{
    width: 70%;
}

.header-wrapper{
    padding: 3rem 0 0 3rem;
}

#header-name{
    font-size: 3.25rem;
    font-weight: bold;
}

.contact-container{
    width: 30%;
}

.wrapper-contact{
    padding-top: 3rem;
}

.wrapper-contact p{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.main{
    width:100%;
    display: flex;
    padding-bottom: 3rem;
}

.main-section{
    width:70%;
    padding:2rem 0 0 3rem;
}

.item{
    padding-bottom: 2rem;
    width: 85%;
}

.company-header{
    padding-bottom: 0.3rem;
}

.company-duration{
    font-size: 0.75rem;
    opacity: 0.7;
}

.company-description{
    font-size: 0.85rem;
    opacity: 0.8;
}

.section-header{
    color:#4688F4;
    padding-bottom:1.5rem;
}

.project-header{
    font-weight:bold;
    padding-bottom:0.3rem;
}

.project-url{
    font-style:italic;
    font-size: 0.9rem;
}

.project-description{
    font-size: 0.85rem;
    opacity: 0.8;
}

.side-section{
    width:30%;
    padding-top: 2rem;
}

.skills-sub-section{
    padding-bottom: 2rem;
}

.skills{
    opacity: 0.7;
    font-weight:bold;
    width: 80%;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.skills-content{
    opacity: 0.7;
    font-style: italic;
}

.education-period{
    font-weight: normal;
    font-size: 0.7rem;
}

.education-sub-section{
    width: 80%;
    padding-bottom: 2rem;
}

.relevant-courses{
    width:80%;
    font-size: 0.8rem;
    padding-bottom:0.5rem;
    opacity: 0.7;
}

@media (max-width: 768px){
    #container{
        margin: 0;
        width: 100%;
    }

    .top-container{
        padding-bottom: 1em;
    }

    .header-container{
        width:65%;
    }

    .contact-container{
        width:35%;
    }

    .wrapper-contact p{
        font-size: 0.7em;
    }

    .header-wrapper{
        padding-left:1em;
    }

    .header-wrapper a{
        font-size: 0.7em;
    }

    #header-name{
        font-size: 1.7em;
    }

    .main{
        padding-bottom: 0;
    }

    .main-section{
        padding-left: 1em;
        width:65%;
    }

    .section-header{
        font-size: 0.8em;
    }

    .item{
        padding-bottom:1.5em;
    }

    .company-header{
        font-size: 0.75em;
    }

    .company-duration{
        font-size: 0.65em;
    }

    .company-description{
        font-size: 0.7em;
    }

    .project-header{
        font-size:0.8em;
    }

    .project-url{
        font-size: 0.7em;
    }

    .project-description{
        font-size: 0.65em;
    }

    .side-section{
        width: 35%;
    }

    .skills-sub-section{
        padding-bottom: 1.5em;
    }

    .skills{
        font-size: 0.65em;
    }

    .education-sub-section{
        width:100%;
        padding-bottom: 1.5em;
    }

    .relevant-courses{
        font-size: 0.65em;
    }
}