@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    margin:0;
    margin-bottom: 3rem;
    padding-top: 2.5rem;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

hr{
    background: black;
    margin: 1.5rem 0;
}

h3{
    margin-bottom:1.5rem;
}

li, p{
    font-size: 1.1rem;
}

a{
    font-size: 1.1rem;
    text-decoration:underline;
}

#pdf-link{
    font-size: 1.5rem;
}

.header-mail{
    padding-top: 1rem;
}

.section-header{
    padding-top: 1rem;
}

.wrapper-experience{
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 767px){
    h5{
        font-size: 0.8em;
    }

    h1{
        font-size: 1.2em;
    }

    .header-mail{
        padding-top: 0;
    }

    h3{
        font-size: 1em;
    }

    p, a, li{
        font-size: 0.8em;
    }

    #pdf-link{
        display:none;
    }
}