@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    width: 100%;
    margin-bottom: 3rem;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color:#EEEEEE;
}

p{
    padding: 0;
    margin: 0;
}

#container{
    width: 60%;
    margin: 0 auto;
    background-color:white;
    margin-top:1rem;
    box-shadow: 0 0 20px darkgray;
}

.top-container{
    width:100%;
    height: auto;
    display:flex;
    padding-bottom: 2rem;
}

.header-container{
    width: 70%;
}

.header-wrapper{
    padding: 3rem 0 0 3rem;
}

#header-name{
    font-size: 3.25rem;
    font-weight: bold;
}

.contact-container{
    width: 30%;
}

.wrapper-contact{
    padding-top: 3rem;
}

.wrapper-contact p{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.main{
    width:100%;
    display: flex;
    padding-bottom: 3rem;
}

.main-section{
    width:70%;
    padding:2rem 0 0 3rem;
}

.item{
    padding-bottom: 2rem;
    width: 85%;
}

.company-header{
    padding-bottom: 0.3rem;
}

.company-duration{
    font-size: 0.75rem;
    opacity: 0.7;
}

.company-description{
    font-size: 0.85rem;
    opacity: 0.8;
}

.section-header{
    color:#4688F4;
    padding-bottom:1.5rem;
}

.project-header{
    font-weight:bold;
    padding-bottom:0.3rem;
}

.project-url{
    font-style:italic;
    font-size: 0.9rem;
}

.project-description{
    font-size: 0.85rem;
    opacity: 0.8;
}

.side-section{
    width:30%;
    padding-top: 2rem;
}

.skills-sub-section{
    padding-bottom: 2rem;
}

.skills{
    opacity: 0.7;
    font-weight:bold;
    width: 80%;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.skills-content{
    opacity: 0.7;
    font-style: italic;
}

.education-period{
    font-weight: normal;
    font-size: 0.7rem;
}

.education-sub-section{
    width: 80%;
    padding-bottom: 2rem;
}

.relevant-courses{
    width:80%;
    font-size: 0.8rem;
    padding-bottom:0.5rem;
    opacity: 0.7;
}