body{
    margin:0 auto;
    padding:0;
    overflow-x:hidden;
    font-family: 'Lato', helvetica, Arial, sans-serif;
    
}

#navbar{
    width:13%;
    height:100%;
    background-color:#273c50;
    position:fixed;
    z-index:100;
}

#navbar-header{
    height:15%;
    width:100%;
}

.menu{
    height:10%;
    width:100%;
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
    color:#0078ff;
}

.menu:hover{
    background-color:#0078ff;
    color:#273c50;
}

.menu-click:hover{
    text-decoration: none;
}

.arrow-fade-in{
    float:left;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:20px solid #273c50;
    transition: all 0.25s ease-in-out;
    margin-right:10px;
    opacity:0;
}

.menu-text{
    margin:0 auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    padding-left:0px;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

#nav-icon{
    width:4%;
    position:fixed;
    left:1%;
    top:2%;
    z-index:3;
}

#main-section-container{
    height:100%;
    margin:0;
    display:flex;
    flex-direction:row;
}

#img-container{
    width:30%;
    height:100%;
}

#profile-img{
    border-radius:50%;
    width:70%;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#name-section{
    width:70%;
    height:100%;
}

#name-container{
    width:80%;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -80%);
}

.clear-float{
    clear:both;
}

#name-separator{
    width:80%;
    position:relative;
    top:45%;
}

.name-text{
    font-size:5vw;
    margin:0;
    padding:0;
}

#job-title{
    margin-top:10px;
    font-weight:normal;
    font-size:2vw;
}

#contact-container{
    position:relative;
    width:80%;
    margin: 0 auto;
    top: 45%;
    border-top: 1px lightgrey solid;
    height:10%;
}

#location{
    float:left;
    font-size:80%;
    width:25%;
}

.tag{
    float:left;
    width:25%;  
    font-size:80%;
}

#typing-animation{
    font-size:1.3vw;
}

a{
    color:black;
}

.contact-header{
    font-weight:bold;
    font-size:1vw;
}

.contact-text{
    font-size:1vw;
}

#about-me-section{
    width:50%;
    height:100%;
    float:left;
}

#background-image{
    width:100%;
    height:120%;
    background-color:#0a0706;
}

.header-content-skills{
    font-size:200%;
    display:inline-block;
    flex-direction:column;
    border-bottom: 2px solid goldenrod;
}

#about-me-container{
    position:relative;
    top:8%;
    left:20%;
    width:80%;
}

#skills-section{
    width:50%;
    height:100%;
    color:white;
    display: flex;
    flex-direction:column;
    float:left;    
}

#writeup-wrapper{
    width:100%;
    text-align:justify;
    color: #1e87d6;
}

.wrapper-container{
    position:relative;
    top:8%;
    left:10%;
    width:80%;
}

#about-me-animation{
    font-weight: bold;
    font-size:120%;
    color:gold;
}

.header-content{
    font-size:200%;
    display:inline-block;
    flex-direction:column;
    border-bottom:2px black solid;
}

.switch{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-bottom:10px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-button:checked + .slider {
    background-color: lightseagreen;
}

.toggle-button:focus + .slider {
    box-shadow: 0 0 1px lightseagreen;
}

.toggle-button:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
border-radius: 17px;
}

.slider.round:before {
border-radius: 50%;
}

.skill-text{
    font-weight:bold;
    color:#1e87d6;
}

.content-bolded{
    font-weight:bold;
    color:#0d94a3;
}

.skill-wrapper{
    display:flex;
    flex-direction:column;
}

.arrow-wrapper{
    float:left;
}

.arrow-content{
    overflow:auto;
    display:none;
    clear:both;
    margin-left:5vh;
    color: #ff6e00;
}

.arrow-right{
    float:left;
    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid #ff6e00;
    transition: all 0.5s ease-in-out;
    margin-right:10px;
}

.arrow-right:hover{
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid #0078ff;
}

.arrow-right.rotated{
    transform : rotate(90deg); 
}

#portfolio-section{
    width:100%;
    height:100%;
}

#projects-wrapper{
    width:80%;
    position:relative;
    top:8%;
    margin: 0 auto;
    height:70%;
    display:flex;
}

.projects-snippet{
    width:300px;
    height:300px;
    background-color:darkred;
    margin-right:40px;
}

.project-title{
    width:300px;
    text-align:center;
    font-weight:bold;
}



#contact-section{
    width:100%;
    height:100%;
}

#contact-phone-container{
    width:275px;
    height:150px;
    border: 2px black solid;
    position:relative;
    top:10%;
    left:10%;
    float:left;
}

#contact-email-container{
    width:275px;
    height:150px;
    border: 2px black solid;
    position:relative;
    top:10%;
    left:15%;
    float:left;
    
}

#contact-social-container{
    width:275px;
    height:150px;
    border: 2px black solid;
    position:relative;
    top:15%;
    left:10%;
    float:left;
    
}

#contact-location-container{
    width:275px;
    height:150px;
    border: 2px black solid;
    position:relative;
    top:15%;
    left:15%;
    float:left;
    
}

#phone-icon{
    margin: 10px 0 0 10px;
}

#linkedin-wrapper{
    display:flex;
}

#github-wrapper{
    display:flex;
}

#linkedin-icon{
    width:30px;
    height:30px;
    margin: 10px 0 0 10px;
    border-radius:50%;
    flex-direction: row;
}

#github-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    margin: 10px 0 0 10px;
    flex-direction:row;
}

.social-value{
    position:relative;
    top:20px;
    left:10px;
    text-decoration:underline;
    color:darkblue;
    margin:0;
}

.clear-float{
    clear:both;
}

#email-icon{
    margin: 10px 0 0 10px;
}

.contact-container-header{
    border-bottom: 3px black solid;
    width:125px;
    position:relative;
    left: 80px;
    top:-30px;
    padding-right:50px;
    font-size:30px;
    
}

.contact-container-value{
    position:relative;
    left:80px;
    top:-55px;
    font-size:15px;
}

@media (max-width:600px){
    #main-section-container{
        flex-direction:column;
        height:600px;
    }

    #img-container{
        width:50%;
        height:50%;
        margin:auto;
    }

    #name-section{
        width:100%;
        margin:auto;
        margin-top:0;
    }
}

@media (max-width:600px){
    #background-image{
        display:flex;
        flex-direction:column;
        height:240%;
    }

    #about-me-section{
        width:80%;
        height:100%;
    }
    #about-me-container{
        left:10%;
    }

    #skills-section{
        height:140%;
        width:100%;
    }

}