
body{
    margin:0 auto;
    padding:0;
    overflow-x:hidden;
    font-family: 'Lato', helvetica, Arial, sans-serif;
}

#menu-container{
    width:100%;
    height:8%;
    margin: 0 auto;
    z-index:10;
}

#phoenix-icon{
    width:3%;
    float:right;
    position:relative;
    z-index:1;
    right:6%;
    top:-5%;
}

#sts-icon{
    width:8%;
    float:right;
    position: relative;
    top:-39%;
    right:5%;
    z-index:2;
}

#main-section-container{
    height:100%;
    margin:0;
    display:flex;
    flex-direction:row;
}

#icon-container{
    width:80%;
    height:8%;
    left:10%;
    z-index:11;
    border-bottom:2px black solid;
    display:flex;
    flex-direction:row-reverse;
}

.icon-subcontainer{
    width:10%;
    text-align:center;
    font-weight: bold;
    font-size: 120%;
}

.icon-text{
    position:relative;
    top:30%;
    text-decoration:none;

}

.icon-text:hover{
    color:darksalmon;
}

#img-container{
    width:30%;
    height:100%;
}

#profile-img{
    border-radius:50%;
    width:70%;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#name-section{
    width:70%;
    height:100%;
}

#name-container{
    width:80%;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -80%);
}

.clear-float{
    clear:both;
}

#name-separator{
    width:80%;
    position:relative;
    top:45%;
}

.name-text{
    font-size:350%;
    margin:0;
    padding:0;
}

#job-title{
    margin-top:10px;
    font-weight:normal;
}

#contact-container{
    position:relative;
    width:80%;
    margin: 0 auto;
    top: 45%;
}

#location{
    float:left;
    font-size:80%;
    width:25%;
}

.tag{
    float:left;
    width:25%;  
    font-size:80%;
}

a{
    color:black;
}

.contact-header{
    font-weight:bold;
}

#about-me-section{
    width:100%;
    height:100%;
    background-color:lightcoral;
}

.header-container{
    position:relative;
    top:8%;
    left:10%;
    width:70%;
}

#about-me-animation{
    font-weight: bold;
    font-size:120%;
}

.header-content{
    font-size:200%;
    display:inline-block;
    flex-direction:column;
    border-bottom:2px black solid;
}

#skills-section{
    width:100%;
    height:100%;
    background-color:lightgreen;
    display: flex;
    flex-direction:column;
    
}

.arrow-right{
    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid black;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.arrow-right.rotated{
    -webkit-transform: rotate(90deg);
    -moz-transform : rotate(90deg); 
    -ms-transform : rotate(90deg); 
    -o-transform : rotate(90deg); 
    transform : rotate(90deg); 
}

@media (max-width:800px){
    #top-section{
        flex-direction:column;
    }
}