body{
    display:block;
    height:100vh;
    font-family: 'Ubuntu', 'Lato', helvetica, Arial, sans-serif;
}

h1, h2, h3{
    margin:0;
    padding:0;
}

p{
    margin: 1em 0 1em 0;
    line-height: 1.3em;
    font-size: 1rem;
}

ul{
    list-style: none;
}

a{color:black;}

a:hover{text-decoration:underline;}

hr{
    margin:0;
    padding:0;
    border:none;
    width: 10em;
    height:3px;
    color:#000;
    background:#000;
}

/* Navigation Bar Section */

#nav-icon{
    width:40px;
    position:fixed;
    left:1%;
    top:2%;
    z-index:999;
    cursor: pointer;
    opacity: 0.5;
}

#nav-icon:hover{
    opacity: 1;
}

#navbar{
    width:12rem;
    height:100vh;
    display:none;
    background: #e7ac62;
    z-index:100;
    position:fixed;
    border-right: 1px #908d59 solid;
}

#navbar-header{
    width:100%;
    height:15%;
    border-bottom: 1px #737373 solid;
    margin-bottom: 1rem;
    background: #e7ac62;
}

#nav-menu-container{
    width:100%;
    border-bottom: 1px #737373 solid;
    padding-bottom: 1rem;
}

#nav-menu-container > a {
    text-decoration: none;
}

#nav-title{
    padding-left: 2rem;
    opacity: 0.5;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.nav-menu{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.nav-menu:hover{
    background: beige;
}

.nav-menu:hover > .nav-arrow{
    opacity: 1;
}

.nav-arrow{
    float:left;
    width:0;
    height:0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    margin-right: 1rem;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.nav-icon{
    width: 1rem;
}

.nav-menu-text{
    font-size: 1.2rem;
    padding-left: 1rem;
    line-height: 2rem;
}

/* Landing Page Section */

#lp-landing-page{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}

#lp-img-container{
    width:30%;
    height:100%;
}

#lp-img{
    position:relative;
    border-radius:50%;
    width:70%;
    height:auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#lp-header-container{
    width:70%;
    height:100%;
    position:relative;
}

#lp-header-wrapper{
    position:absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}

#lp-header-wrapper > h1 {
    font-size:5vw;
}

#lp-header-wrapper > h3{
    padding-top: 0.5em;
    font-weight:normal;
    font-size: 2vw;
}

#lp-animation{
    font-size: 1.3vw;
    margin-top:5%;
    display:inline-block;
}

#lp-contact-wrapper{
    border-top: 1px #d3d3d3 solid;
    padding-top: 1em;
    position:relative;
    margin: 0 auto;
    top:80%;
    width:70%;
    display:block;
}

.lp-contact{
    display:flex;
}

.lp-text{
    width: 20%;
    font-size:1vw;
    margin: 0 auto;
    padding-bottom:1em;
}

#lp-contact-wrapper-mobile{
    display:none;
}

/* About Me Section */

#main{
    width:100%;
    height:auto;
    background: #0a0706;
    color:#fff;
    display:flex;
    flex-direction:row;
}

#section-about-me{
    width:50%;
    height:auto;
    min-height: 100vh;
    position:relative;
}

.experience-container{
    margin: 5rem auto;
    width:80%;
}

.section-header{
    font-size: 2em;
    display:inline-block;
    color:black;
    border-bottom: 2px solid;
    margin-bottom: 1em;
}

#about-me-animation{
    font-weight: bold;
    font-size: 1.2em;
    display:inline-block;
    color: #FFD700;
    margin-bottom: 1em;
}

#about-me-writeup{
    width:100%;
    text-align:justify;
    color: #1e87d6;
    font-size:1em;
    overflow:auto;
}

/* Experience Section */
#section-experience{
    width:50%;
    height:100%;
}

/* Toggle Slider Button */
.switch{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #333, #000);
    -webkit-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 0 1px #353535, 0 0 0 1.2px #3e3e3e,
        inset 0 0 2.5px rgba(0,0,0,1),
        0 1.2px 5px rgba(0,0,0,0.5),
        inset 0 0 2.4px rgba(0, 0, 0, 0.2);

    /*  */
    
}

.slider:before {
    content:'';
    position:absolute;
    top: 0.8px; left:0.7px;
    width:20px;
    height:15.5px;
    background:linear-gradient(0deg, #000, #6b6b6b);
    border-radius:20px;
    box-shadow: 0 0 0 0.4px #232323;
    transform:scale(0.98, 0.96);
    transition: 0.5s;
}

.slider:after{
    content:'';
    position:absolute;
    top: calc(50% - 2px);
    left: 13px;
    width:2px;
    height:2px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius:20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
    background:linear-gradient(0deg, #6b6b6b, #000);
    border-radius:50%;
    transition: 0.5s;
}

input:checked + .slider{
    background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    box-shadow: 0 0 2px #6dd1ff, 0 0 0 2px #353535,
        0 0 0 2px #3e3e3e, inset 0 0 2px rgba(0,0,0,1),
        0 2px 2px rgba(0,0,0,0.5), inset 0 0 2px rgba(0,0,0,0.2);
}

input:checked + .slider:before {
    -webkit-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    transform: translateX(8.5px);
}

input:checked + .slider:after{
    left:23px;
    background:#63cdff;
	box-shadow: 0 0 1.2px #13b3ff, 0 0 3px #13b3ff;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End of Toggle Button */

.skill-wrapper{
    display:flex;
    flex-direction:column;
    padding: 0.5em 0 0.5em 0;
}

.skill-arrow-wrapper{
    display:flex;
    flex-direction:row;
}

.skill-arrow{
    float:left;
    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid #ff6e00;
    transition: all 0.5s ease-in-out;
    margin-right:10px;
}

.skill-arrow:hover{
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid #0078ff;
}

.skill-arrow.rotated{
    transform : rotate(90deg); 
}

.skill-arrow-text{
    font-size: 1em;
    font-weight:bold;
    color: #1e87d6;
}

.skill-arrow-content{
    color:#ff6e00;
    padding-left: 2.5vw;
    display:none;
}

#skill-arrow-content-mobile{
    color:#ff6e00;
    padding-left: 2.5vw;
    display:none;
}

.content-bolded{
    font-weight:bold;
    color:#0d94a3;
}

/* Projects Page Section */

#section-projects{
    width:100%;
    height: auto;
    background: #faf9f9;
    padding: 5rem 0;
}

.section-content-wrapper{
    position:relative;
    top:8%;
    left:10%;
    width:80%;
}

#container-projects{
    display: flex;
    flex-direction: row;
}

#container-projects-text{
    display:flex;
    flex-direction:row;
}

.wrapper-project{
    width: 15rem;
    height: 15rem;
    margin-right: 3rem;
    border: 3px solid gray;
    border-radius: 5px;
    cursor:pointer;
}

.wrapper-project-text{
    width:15rem;
    height:4rem;
    margin-right: 3rem;
    background: #e1e9f5;
}

.project-category{
    background: #fafafa;
    height: 11rem;
}

.project-cat-img{
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
}

.project-cat-text{
    text-align:center;
    line-height: 3rem;
    font-size: 1rem;
    width: 100%;
}

#project-github-container{
    width: 12rem;
    height: 2.5rem;
    display: flex;
    margin-top: 4rem;
}

#proj-github-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    border-radius: 50%;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    filter: invert(1);
}

#proj-github-text{
    line-height: 2rem;
    text-decoration: underline;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position:relative;
    top:50%;
    transform: translateY(-50%);
    background-color: #fefefe;
    display: none;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    cursor:auto;
}

.modal-content-link{
    float:left;
    display:flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;
    margin-top: 1rem;
    border: 2px lightgray solid;
}

.modal-content-link:hover{
    text-decoration: none;
}

.project{
    width: 100%;
    height: 15rem;
    margin-right: 5rem;
    box-sizing: border-box;
}

.project-img{
    width: 100%;
    height:100%;
}

.project-technology{
    margin-top: 0.5rem;
    margin-bottom:0;
    padding-bottom:0;
    font-weight: bold;
}

.project-content-description{
    width: 100%;
    height:5rem;
    text-align: center;
    line-height: 5rem;
    position: relative;
}

#proj-desc-html{
    background: #eff9f9;
}

#proj-desc-react{
    background: #fff8b7;
}

.project-text{
    padding-top: 0;
    margin-top: 0;
}

/* Contact Page Section */

#section-contact{
    width:100%;
    height:100%;
}

#contact-box-container{
    width:40em;
    height: 25em;
    display:flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}

.contact-box-wrapper{
    position:relative;
    width: 17em;
    height: 11em;
    border:5px #a9a9a9 solid;
    box-sizing:border-box;
}

/* 2D rotate */

.contact-innerbox{
    width:100%;
    height:100%;
    backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -ms-transition:auto;
}

.front{
    position:absolute;
    top:0; left:0;
    background:black;
    transform:rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition:1s;
}

.contact-box-wrapper:hover .front{
    transform:rotateX(-180deg);
    -ms-transform:rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
}

.back{
    position:absolute;
    top:0; left:0;
    transition:1s;
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}

.contact-box-wrapper:hover .back{
    transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.contact-box-fa{
    color: #808080;
    position:absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
}

.contact-front-text{
    color: #ccc;
    position:absolute;
    left: 50%;
    top:80%;
    transform: translateX(-50%);
}

.icon{
    margin: 10px 0 0 10px;
}

.cb-back-content{
    position:absolute;
    top:50%;
    left: 35%;
    transform: translateY(-50%);
}

.cb-back-header{
    font-size: 2rem;
}

.cb-back-text{
    text-decoration:none;
}

#linkedin-wrapper{
    display:flex;
}

#github-wrapper{
    display:flex;
}

#linkedin-icon{
    width:30px;
    height:30px;
    margin: 10px 0 0 10px;
    border-radius:50%;
    flex-direction: row;
}

#github-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    flex-direction:row;
}

.contact-social-value{
    position:relative;
    top:20px;
    left:10px;
    text-decoration:underline;
    color:darkblue;
    margin:0;
}


@media screen and (max-width:768px){
/* @media screen and (max-width:1000px){ */
    #lp-landing-page{
        flex-direction: column;
        align-items: center;
    }

    #nav-icon{
        display:none;
    }

    #lp-img-container{
        height:30%;
    }

    #lp-header-container{
        height:70%;
    }

    #lp-header-wrapper{
        left:50%;
        top:10%;
        transform: translateX(-50%);
    }

    #lp-img{
        margin-top:20px;
    }

    #lp-header-wrapper > h1{
        font-size: 6vw;
        padding-bottom:5px;
    }

    #lp-header-wrapper > h3{
        font-size:3vw;
    }

    #lp-animation{
        font-size:2vw;
    }

    .typed-cursor{
        display: none;
    }

    #lp-contact-wrapper{
        display:none;
    }

    #lp-contact-wrapper-mobile{
        display:block;
    }

    #mobile-contact-table{
        font-size:75%;
        border:1px solid black;
        position:relative;
        top: 30vh;
        margin: 0 auto;
        border-collapse: collapse;
        width: 60%;
        text-align:center;
    }
    
    td{
        border-bottom:1px solid black;
        border-right:1px solid black;
    }
    
    .td-header{
        font-weight: bold;
    }

    #main{
        flex-direction:column;
        min-height: 250vh;
    }

    #section-about-me{
        width:100%;
        left:0;
        height:130%;
    }

    #about-me-animation{
        font-size:0.8em;
    }

    #about-me-writeup{
        font-size:0.8rem;
        text-align: justify;
    }

    #section-experience{
        width:100%;
        height:140%;
    }

    .skill-arrow-text{
        font-size: 0.75em;
    }

    .skill-arrow-content > p,
    #skill-arrow-content-mobile > p{
        font-size: 0.75em;
        padding-left: 2em;
    }

    /* Projects Section */

    #section-projects{
        height: auto;
        padding: 3em 0;
    }

    .section-content-wrapper > p{
        font-size: 0.8em;
    }

    #container-projects{
        flex-direction: column;
        align-items: center;
    }

    .wrapper-project{
        width: 10em;
        height: 10em;
        margin-bottom: 2em;
    }

    .project-category{
        width: 10em;
        height: 7em;
    }

    .project-cat-img{
        width: 7em;
    }

    .wrapper-project-text{
        width: 10em;
        height: 3em;
    }

    .modal-content{
        width: 75%;
        height: 75%;
    }

    .modal-content > p{
        font-size: 0.8em;
    }

    .modal-content-link{
        height: 10em;
        width: 10em;;
    }

    .project{
        height: 7em;
        margin-right: 0;
    }

    .project-content-description{
        height: 3em;
    }

    .project-technology{
        display:none;
    }

    .project-text{
        font-size: 0.75em;
        width: 80%;
        text-align:center;
        margin: 0 auto;
    }

    #proj-github-icon{
        width: 1.5em;
        height: 1.5em;
    }
    
    #proj-github-text{
        font-size: 0.8em;
        line-height: 2.5rem;
    }

    /* Contact Section */

    #contact-box-container{
        position:relative;
        width: 15em;
        height:40em;
        left:12%;
        margin-bottom: 3em;
    }

    .contact-box-wrapper{
        width: 14em;
        height: 9em;
        border: 2px solid lightgray;
    }

    hr{
        width:8.5em;
    }

    .cb-back-content > span{
        font-size:80%;
    }

    .front{
        display:none;
    }

    .back{
        transform:rotateX(0deg);
        -ms-transform:rotateX(0deg);
    }
}