body{
	background-color:grey;
	font-family: calibri, helvetica,Arial, sans-serif;
	margin:0;
	padding:0;
}

.clear{
	clear:both;
}

#top-section {
	width:1300px;
	margin: 0 auto 60px auto;
	height: 80px;
}

#name-id {
	padding-right:80px;
}

#icon{
	height:40px;
	float:left;
	margin-top:20px;
}

h1{
	margin-top:20px;
	margin-bottom:0;
	font-weight:bold;
	font-size:60px;
	position:relative;
	left:20px;
}

h2{
	margin:0;
	padding-left:15px;
	font-weight:bold;
	font-size:25px;
	font-style:italic;
}

h3{
	margin:0;
	padding-left:15px;
	font-weight:bold;
	font-size:25px;
	text-decoration:underline;
}

#main-menu{
	width:100%;
	margin:0 auto;
	height:50px;
	background-color:#092037;
}

.margin-left{
	margin-left:50px;
}

.main-menu-section{
	font-size:23px;
	float:left;
	width:150px;
	height:40px;
	text-align:center;
	padding-top:10px;
	border-right:2px solid #004C65;
}

.main-menu-section:hover{
	background-color:#004C65;
	color:#0dbcb4;
}

#main-menu a{
	text-decoration:none;
	font-weight:bold;
	color:white;
}

#picture-section{
	float:right;
	margin-top:60px;
	margin-right:200px;
}

#profile-picture{
	height:350px;
	border-radius:50%;
}

#selected{
	background-color:#004C65;
	color:white;
}

#content-section{
	width:1300px;
	margin:40px auto;
}

#contact-phone{
	width:250px;
	height:200px;
	margin:0 35px;
	border:3px solid black;
	float:left;
}

#contact-mail{
	width:250px;
	height:200px;
	margin:0 355px;
	border:3px solid black;
}

.logo{
	position:relative;
	top:20px;
	left:20px;
}

#contact-phone-heading{
	position:relative;
	font-weight:bold;
	top:70px;
	left:18px;
	padding-right:95px;
	font-size:30px;
	border-bottom:2px black solid;
}

#contact-email-heading{
	position:relative;
	font-weight:bold;
	top:70px;
	left:15px;
	padding-right:115px;
	font-size:30px;
	border-bottom:2px black solid;
}

.contact-value{
	position:relative;
	top:75px;
	left:50px;
	color:#004C65;
	font-size:18px;
	font-weight:bold;
	
}

#logo-section{
	width:1300px;
	margin:0 auto;
}

#logo-table{
	width:435px;
	height:180px;
	margin:0 75px;
	border:3px solid black;
	float:left;
}

.logo-icon{
	position:relative;
	top:10px;
	left:50px;
	text-decoration:none;
}

#icon-logo{
	height:40px;
	margin-bottom:13px;
	float:left;
}

#icon-text{
	font-size:25px;
	padding-left:20px;
	color:#004C65;
	text-decoration:underline;
}

#skills-software-header{
	width:1300px;
	margin:20px auto;
}

#skills-hardware-header{
	width:1300px;
	margin:50px auto;
}

.skills-text{
	font-size:20px;
}


